@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
  --ansi-red: #e1443d;
  --ansi-black: #383131;
  --ansi-white: #f6f1f1;
  --ansi-cyan: #75b5c4;
  --ansi-yellow: #eee273;
  --ansi-green: #a6d3b2;
  --ansi-brown: #d5c195;
  --ansi-mint: rgb(90, 216, 175);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
